.box {
	background-color: #0000FF;
	margin: 0px;
	padding: 3px;
	border: 5px solid #CCCCCC;
	font-family: verdana, arial, sans-serif;
	font-size: 15px;
	line-height: 18px;
	color: #FFFF00;
}

5/11 10:27 15:37 5:10 5 5:10 41500